* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carts {
  padding: 50px 0;

 .button{
  display: flex;
  justify-content: end;
  padding: 20px 0;
  #btn, #btn2 {
    background-color: pink;
    padding: 20px 30px;
    border: 0px;
    border-radius: 33px;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
  }
 }

  #item {
    .cart {
      text-align: center;

      &:hover {
        img {
          transform: scale(1.03);
        }

        .content {
          .brand {
            color: black;
          }
        }
      }

      .img {
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all .3s ease-in-out;
        }
      }

      .content {
        padding: 15px;

        .brand {
          font-size: 22px;
          color: gray;
          cursor: pointer;
        }
      }
    }
  }
}